<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MovieFinder</title>
  </head>
  <body>
    <h1>Welcome to MovieFinder!</h1>

    <form action="/movie" method="GET">
      Movie Title: <input type="text" name="title"><br>
      <input type="submit">
    </form>

  </body>
</html>
