<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @movie.title %></title>
  </head>
  <body>
    <h1><%= @movie.title %> (<%= @movie.year %>)</h1>

    <p><%= @movie.plot %></p>
  </body>
</html>
