body{
  background: #fff;
}

table{
  border: 1px solid #ECECEC;
  width: 100%;
}

table thead th{
  border-bottom: 1px solid #ECECEC;
}

table thead th:last-child{
  border-left: 1px solid #ECECEC;
}

form div{
  margin: 10px 0px;
}

.empty{
  text-align: center;
}
